{block content}
<div class="container">
    <h1>Admin</h1>
    {control productForm}
    <br>
    <h2>Products</h2>
    <ul>
        <li n:foreach="$list as $item">
            {$item->id} - {$item->title} <a class="btn btn-info" href="?id={$item->id}">Edit</a>
        </li>
    </ul>


</div>

