<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>{ifset title}{include title|stripHtml} Products {/ifset}</title>
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
		<h3 n:if="$user->loggedIn"><a n:href="Login:logout">Logout</a></h3>
	</div>


	{include content}

	{block scripts}
	<script src="https://nette.github.io/resources/js/netteForms.min.js"></script>
	{/block}
</body>
</html>
