<form n:name=form>
    {label username}
    <input type="text" n:name=username class="form-control">
    {label password}
    <input type="password" n:name=password class="form-control">
    <br>
    <input type="submit" n:name=send class="btn btn-success">
</form>